//- Lists layout
//- piggyback on parent layout, just override blocks piecemeal

//- [had to reshuffle the whole views structure to make this work! otherwise partials fail]
extends ../layout


append comments
  // these are fc comments

block headTitle
  - if (typeof list != "undefined")
    title #{list.title} - #{listsAppTitle}
  - else
    title= listsAppTitle


//- nullify ?
//-block promo

append scripts
  //[LISTS SCRIPTS]
  //- no #{listsBase} on socket.io.js, listening to parent app [will need to change if another socket app is added]
  script(src="/socket.io/socket.io.js")
  script(src="#{listsBase}/javascripts/lists-client.js")

  //-pass current list Id to JS
  //-@todo extend this layout template only for lists.jade?
  - if (typeof list != "undefined")
    script
      // catch the loaded client app
      (function($){
        $(window).on('loaded-app', function(event, app){
          // pass back an event w/ list ID (initializes socket)
          $(window).trigger('watch-list', '#{list._id}').trigger('set-username', '#{username}');
        })
      })(jQuery);
      
  - else
    script
      (function($){
        $(function(){
          $('#socket-status').hide();   // not needed here
        });
      })(jQuery);
        


//-@todo is this working???
append sidebar
  div#socket-status.sidebar.disconnected
    | Socket not connected

//- note: this overrides the whole block, so need to copy/override all sub-blocks too!
block appContent
  section#main.content

    block pageTitle
      h1= listsAppTitle
      - if (typeof title != "undefined")
        h2= title

    block messages
      //- moved from index. for individual list, gets populated w/ socket messages. otherwise just from req.flash.
      div#messages-wrapper
        div#messages
          - if (typeof listsMessages != "undefined")
            - each message,type in listsMessages
              div.alert-message(class=type)!= message

    //- using inheritance rather than body
    block mainContent


//-@todo revise
prepend footer
  div#footer
    | A proof of concept using <a href="http://nodejs.org">Node.js</a> with <a href="http://socket.io">Socket.io</a>.
    | By <a href="http://newleafdigital.com">Ben Buckman, New Leaf Digital</a>.
    | Code is on <a href="https://github.com/newleafdigital/interactive-shopping-list">Github</a>.
