!!! 5
html
  head
    title= listsAppTitle
    
    //-shared
    link(rel='stylesheet', href='/stylesheets/hq.css')
    
    //-lists (symlinked to root)
    link(rel='stylesheet', href='/stylesheets/lists.css')
    
    - if (envId === 'local')
      script(src='#{listsBase}/javascripts/jquery-1.6.4.min.js');
    - else  
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    //- no #{listsBase} here, listening to parent app (?)
    script(src="/socket.io/socket.io.js")
    script(src="#{listsBase}/javascripts/lists.js")

    //-pass current list Id to JS
    //-@todo extend this layout template only for lists.jade?
    - if (typeof list != "undefined")
      script
        var listId = "#{list._id}";
    
  body
    != appsHeader
  
    div#main!= body

    div#footer
      | A proof of concept using <a href="http://nodejs.org">Node.js</a> with <a href="http://socket.io">Socket.io</a>.
      | By <a href="http://newleafdigital.com">Ben Buckman, New Leaf Digital</a>.
      | Code is on <a href="https://github.com/newleafdigital/interactive-shopping-list">Github</a>.
