//- Lists: individual list

extends lists-layout

block sidebar
  div#socket-status.disconnected
    | Socket not connected

  div#users-wrapper
    h2 Currently Viewing
    div#users

  div#lists-wrapper
    != partial('partials/your-lists')
    != partial('partials/guest-lists')  
    != partial('partials/new-list')


block mainContent
  div#breadcrumb
    a(href='/lists') &laquo; Back to lists

  div#list-wrapper
    h2= list.title
    div.credits Created by #{list._creator.displayName()}
    div#list
      div#no-items There are no items in the list.

  div#new-item-wrapper
    h3 Add an item
    form#new-item
      input#item(type='text', size='60')
      input#add(type='submit', value='Add')

  - if (userIsListCreator)
    div#delete-list
      a.delete-list(href='#{listsBase}/list/#{list._id}/delete') Delete this list
      
  div#share-list
    // FB Send widget
    label Share this list:
    a.permalink(href=fullUrl) permalink
    div.fb-send(data-href="#{fullUrl}", data-font="lucida grande", data-colorscheme="dark")
