//- Lists layout
//- piggyback on parent layout, just override blocks piecemeal

//- [had to reshuffle the whole views structure to make this work! otherwise partials fail]
extends ../layout


block headTitle
  - if (typeof list != "undefined")
    title #{list.title} - #{listsAppTitle}
  - else
    title= listsAppTitle


//- nullify ?
//-block promo

append scripts
  //- no #{listsBase} on socket.io.js, listening to parent app [will need to change if another socket app is added]
  script(src="/socket.io/socket.io.js")
  script(src="#{listsBase}/javascripts/lists-client.js")

  //-pass current list Id to JS
  //-@todo extend this layout template only for lists.jade?
  - if (typeof list != "undefined")
    script
      // catch the loaded client app
      (function($){
        $(window).on('loaded-app', function(event, app){
          // pass back an event w/ list ID (initializes socket)
          $(window).trigger('watch-list', '#{list._id}').trigger('set-username', '#{username}');
        })
      })(jQuery);
      
  - else
    script
      $(function(){
        $('#socket-status').hide();   // not needed here
      });        


//- sidebar keeps promo


block pageTitle
  h1= listsAppTitle
  - if (typeof title != "undefined")
    h2= title



//-@todo revise
prepend footer
  | App expanded from Ben's original single-list <a href="https://github.com/newleafdigital/interactive-shopping-list">proof of concept</a>
  | using <a href="http://nodejs.org">Node.js</a> with <a href="http://socket.io">Socket.io</a>.