div#users-wrapper.sidebar
  h2 Currently Viewing
  div#users

div#lists-wrapper.sidebar
  h2 Your Lists
  div#lists
    - if (lists)
      ol
        - each list in lists
          li
            a(href='#{listsBase}/list/#{list._id}')= list.title

    form#new-list(action='#{listsBase}/list/new', method='post')
      h3 Create a new list
      input(type='text', name='list_name', id='new-list-name')
      input(type='submit', value='Create')

div#messages-wrapper
  div#messages

div#list-wrapper
  h2= list.title
  div#list

div#new-item-wrapper
  h3 Add new item
  form#new-item
    input#item(type='text', size='60')
    input#add(type='submit', value='Add')

//-@todo limit this to list AUTHOR
div#delete-list
  a.delete-list(href='#{listsBase}/list/#{list._id}/delete') Delete this list