//- Flashcards layout
//- piggyback on parent layout, just override blocks piecemeal (see lists-layout.jade)

extends ../layout

block headTitle
  - if (typeof pageTitle != 'undefined' && pageTitle)
    title #{pageTitle} - #{fcAppTitle}
  - else
    title= fcAppTitle

append scripts
  script(src='#{fcBase}/javascripts/flashcards.js')
    
  //- allow pages to have their own scripts
  - if (typeof extraScripts != 'undefined')
    - extraScripts.forEach(function(script){
        script(src='#{script}')
    - })


block sidebar
  //-(nothing)

//- (inside block appContent)
block pageTitle
  h1= fcAppTitle
    - if (fcIsLoggedIn)
      |: #{username}


block mainContent
  block fcNav
    include includes/nav
    
  h2= pageTitle || ''
  
  //- (use `block append` in views to append body here)


prepend footer
  | Read a <a href="http://benbuckman.net/tech/11/10/exploring-nodejs-frontier">blog post</a> 
  | about the <a href="https://github.com/newleafdigital/nodejs_spanish_flashcards">original version</a> of this app.