extends flashcards-layout


block sidebar
  //-(nothing)

append mainContent
  //- play a random flashcard

  div#play-wrapper.row
    div#play.span12(class="lang-#{langCode}")

      - if (gameOver)
          div.gameover Game over, you win!
      
      - else
          div.question
            span.label= language
            = question
  
          div#answer
            ul.words
              li!= partial('word/word', word)
    
          div#show-wrapper
            a#show.btn.large(href='#') Show


          a.next-correct(href='#{fcBase}/play/#{word._id}/correct') Got it right
          a.next-incorrect(href='#{fcBase}/play/#{word._id}/incorrect') Got it wrong

      - if (remaining > 0)
        div.remaining (#{remaining} words left to get right)

      a.next-restart.large(href='#{fcBase}/play/restart') Restart Game


    div#kb-legend.span3
      h4 Keyboard Shortcuts
      div
        span.key Enter:
        span.does Show Answer    
      div
        span.key Left Arrow:
        span.does Got It Right
      div
        span.key Right Arrow:
        span.does Got It Wrong
      div
        span.key R:
        span.does Restart Game
    