h2 Your Lists
div#lists
  - if (yourLists && yourLists.length)
    ol
      - each list in yourLists
        li        
          a(href='#{listsBase}/list/#{list._id}')
            - if (typeof currentList != "undefined" && currentList._id && currentList._id.toString() == list._id.toString())
              strong= list.title
            - else
              span= list.title
              | 
              span.item-count (#{list.countItems()} items)
            
  - else
    div You don't have any lists yet.